table {
  border-collapse: collapse;
}
td,
th {
  border: 2px solid black;
  padding: 8px;
}

button {
    margin-top: 10px;
}

#mail {
    display: block;
}

.article{
    text-decoration: underline;
}